window {
    background-color: rgba(10,10,20, 0.0);
}
button {
    color: #00ffe7;
    background: rgba(0,10,20, 0.85);
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #00ffe7;
    transition: 100ms ease-in-out;
}
button label {
    color: #00ffe7;
    font-family: monospace;
    font-size: 16px;
}
.pressed {
    background: #00bfa6;
    font-weight: bold;
}
.unpressed {
    background: rgba(0,10,20, 0.85);
}

