window {
    background-color: rgba(250, 240, 255, 0.0);
}
button {
    color: #ce7fa4;
    background: rgba(255, 240, 245, 0.85);
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #ce7fa4;
    transition: 100ms ease-in-out;
}
button label {
    color: #ce7fa4;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
}
.pressed {
    background: #f8c8dc;
    font-weight: bold;
}
.unpressed {
    background: rgba(255, 240, 245, 0.85);
}

