window {
    background-color: rgba(25, 23, 36, 0.0);
}
button {
    color: #e0def4;
    background: rgba(49, 45, 65, 0.9);
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #f6c177;
    transition: 100ms ease-in-out;
}
button label {
    color: #c4a7e7;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
}
.pressed {
    background: #eb6f92;
    font-weight: bold;
}
.unpressed {
    background: rgba(49, 45, 65, 0.9);
}

